{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "vueIndentScriptAndStyle": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-packagejson",
    "prettier-plugin-organize-imports"
  ],
  "overrides": [
    {
      "files": ".*rc",
      "options": {
        "parser": "json"
      }
    }
  ]
}